<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}base{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{#    <img class="absolute h-96 w-auto min-w-full" src="{{ asset('build/img/3resize.png') }}" alt="img">#}
{#    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="absolute min-w-full">#}
{#        <image  x="0" y="0" width="136" height="23" xlink:href="{{ asset('build/img/3resize.png') }}" />#}
{#    </svg>#}
    {{ include ('header/header.html.twig') }}
    {{ include ('blocks/since_2018.html.twig') }}
    {{ include ('blocks/services.html.twig') }}


    {{ include ('footer/footer.html.twig') }}

</body>
</html>