{% extends 'base.html.twig' %}

{% block content %}

<header class=""> 
    <img class="absolute w-auto min-w-full min-h-full max-w-none" src="{{asset('build/img/3.jpg')}}"> 
    <div class="flex flex-row relative justify-between bg-none border"> 
        <ul class="flex flex-row ml-6 items-center text-blue-600"> 
            <li><a href="#" class="mx-3 hover:font-bold">О Нас</a></li> 
            <li><a href="#" class="mx-3 hover:font-bold">Услуги</a></li> 
            <li><a href="#" class="mx-3 hover:font-bold">Контакты</a></li> 
        </ul> 
            <a href="#"><img class="min-w-max" src="{{asset('build/img/logo150.png')}}" alt=""></a>
        <ul class="flex flex-row items-center mr-6"> 
            <a href="#" class="mx-3"> 
                <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">123 
            </a> 
            <a href="#" class="mx-3"> 
                <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">321 
            </a> 
            <a href="#" class="mx-3"> 
                <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">123 
        </a> 
        <a href="#" class="mx-3"> 
            <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">321 
        </a> 
    </ul> 
</div> 
</header>

<!-- <header class="">
        <div class="flex flex-row relative justify-between bg-none border">
            <ul class="flex flex-row ml-6 items-center text-blue-600 hover:font-bold">
                <li><a href="#" class="mx-3 hover:font-bold">О Нас</a></li>
                <li><a href="#" class="mx-3 hover:font-bold">Услуги</a></li>
                <li><a href="#" class="mx-3 hover:font-bold">Контакты</a></li>
            </ul>
            <div class="">
                <a href="#"><img class="w-40 h-40" src="{{asset('build/img/logo.png')}}" alt=""></a>
            </div>        
            <ul class="flex flex-row items-center mr-6">
                <a href="#" class="mx-3">
                    <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">123
                </a>
                <a href="#" class="mx-3">
                    <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">321
                </a>
                <a href="#" class="mx-3">
                    <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">123
            </a>
            <a href="#" class="mx-3">
                <img src="{{asset('build/img/social_web/telegram.png')}}" alt="">321
            </a>
        </ul>
    </div>
    <img class="relative z-10 w-auto min-w-full min-h-full max-w-none" src="{{asset('build/img/3.jpg')}}">
</header> -->





{% endblock %}